body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto;
    color: #ffffff;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0 0 10px;
}

    /*  Page
    =======================*/

.page{
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background: url("../img/bg.jpg") center /cover no-repeat;
    position: relative;
}

    /*  Header
    =======================*/
.header{
    background-color: #2b7ded;
    margin-bottom: 110px;
    padding: 15px 0 12px 0;
}

.container{
    width: 100%;
    max-width: 1040px;

    padding: 0 20px;
    margin: 0 auto;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-brand{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.header-logo{
    display: flex;

}

.nav-link{
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-left:25px;

    transition: 0.2s linear;
}

.nav-link.active{
    position:relative;
    pointer-events: none;
}

.nav-link.active:after{
    width: 100%;
    content: "";
    height: 2px;

    background-color: #fff;

    position: absolute;
    left:0;
    bottom: -5px;
}

.nav-link:hover{
    color: #b2e3fd;
}
.content-header{
    margin-bottom: 35px;
}

/*  Content
    =======================*/

.content{
    height: 100%;
    width: 100%;
    max-width: 565px;
}

.subtitle{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

.title{
    margin-bottom: 10px;
    font-size: 30px;
    color:#fff;
    line-height: 1.2;
}

.span-title{
    color:#2b7ded;
}

.text{
    margin-bottom: 50px;
}
.contacts-form{
    display: flex;
    flex-direction: column;
}
.form-input{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;

    font-size: 15px;
    color: #fff;

    background-color: rgba(255, 255, 255, .1);

    width: 280px;
    height: 40px;

    outline: none;
}
.form-input::placeholder{
    color: #fff;
}
.form-input.text-area{
    resize: none;
    overflow: auto;

    color: #fff;
    font-size: 15px;
    line-height: 1.5;

    padding: 5px 5px 5px 20px;
    border: none;
    width: 280px;
    height: 100px;
}

/*  Button
   =======================*/

.btn{
    display: inline-block;
    padding: 11px 35px;

    font-size: 15px;
    color: #fff;
    text-decoration: none;
    line-height: 1.1;

    background-color: #2b7ded;
    border-radius: 5px;

    transition: 0.2s linear;
}
.btn.form-button{
    width: 280px;
    height: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #1559bc;
}


/*  Author
   =======================*/

.author{
    position: fixed;
    bottom:0;
    right:250px;


}
/*  Footer
   =======================*/
.footer{
    width: 100%;
    position: absolute;
    bottom:45px;
    left:0;
}
.contacts{
    display: flex;
    align-items: center;
}
.contacts-link:last-child{
    margin-right: 0;
}
.contacts-link{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
}

.contacts-link:hover{
    text-decoration: underline;
}
.contacts-icon{
    margin-right:10px;
}
/*  Media
   =======================*/
    @media(max-width: 1024px) {
        .author {
            right: -110px;
        }
        .contacts-form{
            margin: 0 auto;
            display: flex;
        }
    }
    @media(max-width: 812px) {
        .header-logo{
            display: none;
        }
        .header-brand{
            font-size: 20px;
        }
        .header{
            margin-bottom: 50px;
        }
        .page{
             min-height: 100vh;
             height: auto;
            padding-bottom: 15px;
         }
        .contacts-form{
            margin: 0 auto;
            display: block;
        }
        .content{
            margin-bottom: 50px;
            max-width: none;
        }
        .footer{
            position:static;
        }
        .author{
            display: none;
        }
    }
@media(max-width: 812px)and (orientation: landscape){
    .header-logo{
        display: none;
    }
    .header-brand{
        font-size: 20px;
    }
    .header{
        margin-bottom: 50px;
    }
    .page{
        min-height: 100vh;
        height: auto;
        padding-bottom: 15px;

    }
    .contacts-form{
        margin: 0 auto;
        display: flex;
    }
    .content{
        margin-bottom: 50px;
        max-width: none;
    }
    .footer{
        position:static;
    }
    .author{
        display: none;
    }

}
    @media(max-width: 767px) and (orientation:landscape){
        .header-logo{
            display: none;
        }
        .header-brand{
            font-size: 20px;
        }
        .header{
            margin-bottom: 50px;
        }
        .page{
            min-height: 100vh;
            height: auto;
            padding-bottom: 15px;
        }
        .contacts-form{
            margin: 0 auto;
            display: flex;

        }
        .content{
            margin-bottom: 50px;
            max-width: none;
        }
        .footer{
            position:static;
        }
        .author{
            display: none;
        }
    }

    @media(max-width: 500px) {

        .header-inner{
            flex-direction: column;
        }
        .nav-link{
            margin-top: 15px;
        }
        .contacts{
            flex-direction: column;
        }
        .contacts-link{
            margin-bottom: 5px;
        }
        .contacts-link:last-child{
            margin-bottom: 0;
        }
        .container{
            text-align: center;
        }
    }
    @media(max-width: 320px){
        .title{
            font-size: 25px;
            margin-bottom: -21px;
        }
    }